<nav
	class="fixed top-0 left-0 h-full w-56 bg-gray-800 text-white flex flex-col justify-between p-4 transform -translate-x-full md:translate-x-0 transition-transform duration-200">
	<div>
		<h1 class="text-2xl font-bold mb-6 ml-10 mt-12">My Website</h1>
		<ul>
			<li class="mb-4">
				<a href="/home" class="block py-2 px-2 rounded hover:bg-gray-700"
					>Home</a
				>
			</li>
			<li class="mb-4">
				<a href="/blog" class="block py-2 px-2 rounded hover:bg-gray-700"
					>Blog</a
				>
			</li>
			<li class="mb-4">
				<a href="#bio" class="block py-2 px-2 rounded hover:bg-gray-700"
					>Profile</a
				>
			</li>
			<li class="mb-4">
				<a href="#/contact" class="block py-2 px-2 rounded hover:bg-gray-700"
					>Contact</a
				>
			</li>
			<li class="mb-4">
				<a href="/about" class="block py-2 px-2 rounded hover:bg-gray-700"
					>About</a
				>
			</li>
		</ul>
	</div>
	<button
		class="md:hidden text-gray-200 py-2 px-2 bg-gray-700 rounded"
		id="toggle-navbar">
		Close
	</button>
</nav>
